<% if user_signed_in? %>
  <span>Здравствуйте, <%= current_user.email %></span>
  <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>

  <br>
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firs Namet</th>
      <th scope="col">Last Name</th>
      <th scope="col">email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Dmitry</td>
      <td>Permiakou</td>
      <td>ddmitiyperm@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Sasha</td>
      <td>Korchyk</td>
      <td>aliaksandr.korchyk@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Veaceslav </td>
      <td>Irizanov</td>
      <td>slava.irizanov@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Alexey  </td>
      <td>Shparun</td>
      <td>an.shparun@yandex.by</td>
    </tr>
    </tbody>
  </table>

<% else %>
  <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

