<h1>Welcome to Memory Cards, <%= @user.name.try(:empty?) ? @user.email : [@user.name,@user.surname].map(&:to_s).join(' ') %></h1>
	  <p>
	    You have successfully signed up!
	  </p>
	<p>Thanks for joining and have a great day!</p>
