<% if resource.errors.any? %>
  <div id="message", class="alert alert-danger fs-1s">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
