<p class="text-center fs-1">Instructions</p>

<p class="text-center fs-2">Memory card  is a learning service that will help you learn new things faster</p>

<div class="row text-center">
  <div class="col-sm-4">
    <div class="card h-100 text-white bg-dark mb-3" style="width: 18rem;">
  <%= image_tag 'instructions/login.jpg', alt: 'login', class: "card-img-top", height:250 %>
      <div class="card-body">
        <h5 class="card-title">Step 1</h5>
        <p class="card-text">Login/Sign in</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card h-100 text-white bg-dark mb-3" style="width: 18rem;">
      <%= image_tag 'instructions/link.jpg', alt: 'link', class: "card-img-top",height:250 %>
      <div class="card-body">
        <h5 class="card-title">Step 2</h5>
        <p class="card-text">Go to Card and click New Card</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card h-100 text-white bg-dark mb-3" style="width: 18rem;">
      <%= image_tag 'instructions/create.png', alt: 'create', class: "card-img-top ", height:250  %>
      <div class="card-body">
        <h5 class="card-title">Step 3</h5>
        <p class="card-text">Create Card </p>
      </div>
    </div>
  </div>
 </div>
