<div class="section--learn-header learn-pattern">
  <div class="logo">
    Memory cards
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-3"></div>
        <div class="col-6">
          <div class="learn-header">
            <h1>Study with us!</h1>
            <p>Lern Pass gives you <strong>all-access</strong> entry to <strong>two exapmles</strong> filled with the boards and cards you need to learn various topics such as English words or something else. It's included in every free MemoryCards account.</p>
            <a class="btn btn-xl btn-primary btn--enroll" href="https://app.convertkit.com/users/signup?plan=1k" data-cta-name="creator-pass-top">Create a free account</a>
          </div>
        </div>
      <div class="col-3"></div>
    </div>
  </div>
  <div class="learn__separator"></div>
</div>

<div class="bg-red-400 text-white section--learn-intro" id="learn-intro">
   <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-3"></div>
      <div class="col-6">
        <ul>
          <input type="checkbox" class="custom-checkbox" id="happy" name="happy" value="yes" disabled="disabled">
          <label for="happy">Do you feel like you can't memorize information effectively?</label>
          <input type="checkbox" class="custom-checkbox" id="happy" name="happ2" value="yes" disabled="disabled">
          <label for="happy2">Do you want to structure information?</label>
          <input type="checkbox" class="custom-checkbox" id="happy" name="happy3" value="yes" disabled="disabled">
          <label for="happy3">Do you want to memorize information faster?</label>
        </ul>
        <h4>You need a path to successful memorization. That’s what we’re here for.</h4>
        <p>We know how hard it is to start to memorize something, to have a strong desire to learn information and do everything possible not to forget it. That's why we developed this app to give everyone the ability to memorize quickly and efficiently.</p>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
<div class="notch">
  <svg width="34" height="15" viewBox="0 0 34 15" xmlns="http://www.w3.org/2000/svg">
    <path d="M.03.766h33.94l-14.968 13.41a3 3 0 0 1-4.004 0L.03.767z" fill="#FB6970" fill-rule="evenodd"></path></svg>
</div>



<div class="container">
    <div class="img-hat"><img data-src="https://3j6x6z2bx1qq1aawwt3b6y0a-wpengine.netdna-ssl.com/wp-content/themes/ConvertKit/assets/images/icons/graduation-hand-drawn.svg" loading="lazy" src="https://3j6x6z2bx1qq1aawwt3b6y0a-wpengine.netdna-ssl.com/wp-content/themes/ConvertKit/assets/images/icons/graduation-hand-drawn.svg" data-ll-status="loaded"></div>
      
 
  <div class="row num-3">
    <div class="col-4"></div>
    <div class="col-4">
      <h2>Lern Pass Course Content</h2>
      <p>With Lern Pass we have organized the best boards and flashcards containing English words and irregular verbs. And to help you get through these lessons, you'll also get free access to the MemoryCards app.</p>
    </div>
    <div class="col-4"></div>
  </div>


  <div class="card border-success card1" style="width: 32rem;">
    <div class="card-body">
      <div class='img-tools'>
        <img class="lazy loaded" data-src="https://3j6x6z2bx1qq1aawwt3b6y0a-wpengine.netdna-ssl.com/wp-content/themes/ConvertKit/assets/images/icons/build-hand-drawn.svg" loading="lazy" src="https://3j6x6z2bx1qq1aawwt3b6y0a-wpengine.netdna-ssl.com/wp-content/themes/ConvertKit/assets/images/icons/build-hand-drawn.svg" data-ll-status="loaded">
      </div>
      <h5 class="card-title text-success">Course one</h5>
      <h2>Build</h2>
      <div class="card-text">
        Get started with your online business.
        <ul>
          <li>The foundation and values of your business</li>
          <li>Create your website and content plan</li>
          <li>Get your first 100 subscribers</li>
        </ul>
      </div>
      <p>4 Modules • 20 lessons</p>
      <a href="#" class="btn btn-success">Go somewhere</a>
    </div>
  </div>


    
  <div class="img-line">
    <img class="lazy loaded" data-src="https://3j6x6z2bx1qq1aawwt3b6y0a-wpengine.netdna-ssl.com/wp-content/themes/ConvertKit/assets/images/connecting-line.svg" loading="lazy" src="https://3j6x6z2bx1qq1aawwt3b6y0a-wpengine.netdna-ssl.com/wp-content/themes/ConvertKit/assets/images/connecting-line.svg" data-ll-status="loaded">
  </div>

  <div class="card border-danger card2" style="width: 32rem;">
    <div class="card-body">
      <div class='img-rocket'>
        <img class="lazy loaded" data-src="https://3j6x6z2bx1qq1aawwt3b6y0a-wpengine.netdna-ssl.com/wp-content/themes/ConvertKit/assets/images/icons/launch-hand-drawn.svg" loading="lazy" src="https://3j6x6z2bx1qq1aawwt3b6y0a-wpengine.netdna-ssl.com/wp-content/themes/ConvertKit/assets/images/icons/launch-hand-drawn.svg" data-ll-status="loaded">
      </div>
      <h5 class="card-title text-danger">Course two</h5>
      <h2>Launch</h2>
      <div class="card-text">
        Create a digital product and earn your first dollar online with a successful launch.
        <ul>
          <li>Create your first product</li>
          <li>Launch, sell, and iterate</li>
          <li>Automated workflow templates</li>
        </ul>
      </div>
      <p>4 Modules • 20 lessons</p>
      <a href="#" class="btn btn-danger">Go somewhere</a>
    </div>
  </div>
</div>



<style>

.card1 {
  margin-top: 50px;
  border-color: #58ab7e;
  text-align: center;
  margin-left: 25%;
}

.card2 {
  border-color: #58ab7e;
  text-align: center;
  margin-left: 48%;
}

.card-body {
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  padding: 30px;
}

.img-line {
  text-align: center;
}

.img-hat {
  margin-top: 60px;
  text-align: center;
}

.img-tools img {
    position: absolute;
    right: 50px;
}

.img-rocket img {
  position: absolute;
  right: 50px;
}

.course-info {
    text-align: left;
    border: 1px solid;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    padding: 30px;
}

.num-4 {
  margin-left: 47%;
  margin-top: 110px;
}

.course-testimonials {
  margin-left: -15px;
  margin-right: -15px;
}

.num-3 {
  margin-top: 35px;
  text-align: center;
}

.num-3 h2 {
    font-family: "Domine",serif;
    font-size: 1.944444444rem;
    margin-bottom: 25px;
    color: #212f4f;
}

.notch {
  text-align: center;
  margin-top: -0.5rem;
}

label {
  margin-left: 10rem;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.col-6 > p, h4 {
  margin-left: 6rem;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:disabled+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

  .container {
    all: unset;
  }

  .col-6 {
    z-index: 1;
  }

  .section--learn-header .logo {
    color: white;
    margin-top: 5px;
    font-family: cursive;
    font-size: 32px;
    background-color: #212f4f;
    border-radius: 9px 9px 9px 9px;
    padding: 20px 30px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }

  .learn-pattern {
    background-color: #f3f6f9;
    background-image: url(https://convertkit.com/wp-content/themes/ConvertKit/assets/images/colorful-icon-pattern@2x.png);
    background-size: 640px;
    background-repeat: repeat;
  }

  .section--learn-header {
    text-align: center;
    padding-bottom: 150px;
    position: relative;
    overflow: hidden;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .learn-header {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 8px;
    margin-top: 150px;
    padding: 50px;
  }

  .learn__separator {
    position: absolute;
    height: 440px;
    background: #fb6970;
    left: 0;
    right: 0;
    bottom: -430px;
    transform: skewY(-12deg);
    transform-origin: left;
  }

  .section--learn-intro {
    padding-bottom: 50px;
  }

  .text-white {
    --text-opacity: 1!important;
    color: rgba(255,255,255,var(--text-opacity))!important;
  }

  .bg-red-400 {
    margin-top: -7px;
    background-color: rgba(251,105,112,var(--bg-opacity))!important;
  }

  .bg-red-300, .bg-red-400 {
    --bg-opacity: 1!important;
    height: 23rem;
  }
</style>