<h1>Editing Board</h1>

<%= render 'form', board: @board %>

<%= link_to 'Show', @board, class: "btn btn-outline-success mt-3" %> |
<%= link_to 'Back', boards_path, class: "btn btn-outline-secondary mt-3" %>
