<h1>Editing Card</h1>

<%= render 'form', card: @card %>

<%= link_to 'Show', @card, class: "btn btn-outline-success mt-3" %> |
<%= link_to 'Back', cards_path, class: "btn btn-outline-secondary mt-3" %>
