<div class="bg-light p-5 rounded mb-3">
  <p class="fs-3 fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%= @card.question %>
  </p>

  <div class="collapse" id="collapseExample">
    <div class="card text-dark bg-light">
      <div class="card-body">
        <%= markdown(@card.answer) %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', cards_path, class: "btn btn-outline-secondary mt-3" %>
