<div class="alert alert-success" id='message' role="alert">
  <%= notice %>
</div>

<style>
  .alert.alert-success {
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    margin-top: 0px;
  }
</style>
