<div class="alert alert-success mt-3" id='message' role="alert">
  <%= notice %>
</div>

<script>
setTimeout(function(){
	document.getElementById('message').style.display = 'none';
}, 5000);
</script>